@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

header {
    padding: 10px;
    padding-left: 10px;

    margin: 50px;
}

body {
    font-family: 'Roboto', sans-serif;
}

#wrapper {
    text-align: center; 
    padding: 32px;
}

#wrapper img {
    border-radius: 50%;
    padding: 32px;
    width: 300px;
}

#wrapper p {
    font-size: 20px;
    text-align: left;
    max-width: 500px;
    margin: 32px auto;
    line-height: 34px;

}

#contato p{
    text-align: center;
    margin: 100px;
}

.conteudo {
    margin: auto;
    align-items: center;
}

header div p {
    text-align: center;
}

.conteudo1 {
    width: 150px;
    height: 150 px;
    flex-direction: column;

}

.conteudo2 {
    width: 150px;
    height: 150 px;
   flex-direction: column   
}

.footer {
    position: center;
}