html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none ;
}


.avatar {
    position: center;
    width: 120px;
    height: 120px;
    
    
    background: #C4C4C4;
}

.conteudo1 {
    width: 150px;
    height: 150 px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px
 
}

.conteudo2 {
    width: 150px;
    height: 150 px;
    display: flex;
    position: relative;
   
  
    
}