
.avatar {
    position: center;
    width: 120px;
    height: 120px;
    
    
    background: #C4C4C4;
}

.conteudo1 {
    width: 150px;
    height: 150 px;
    flex-direction: row;
 
}

.conteudo2 {
    width: 150px;
    height: 150 px;
    display: flex;
    position: relative;
    flex-direction: row;
}